@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;

  /* UNO Colors */
  --uno-red: #ea1d2c;
  --uno-yellow: #feca00;
  --uno-green: #38c82c;
  --uno-blue: #0093d5;

  --accent: var(--uno-red);
  /* Default accent */
  --success: var(--uno-green);
  --danger: var(--uno-red);
  --warning: var(--uno-yellow);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-uno-red: var(--uno-red);
  --color-uno-yellow: var(--uno-yellow);
  --color-uno-green: var(--uno-green);
  --color-uno-blue: var(--uno-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

/* Utilities */
.glitch-text {
  position: relative;
}

.glitch-text:hover {
  animation: glitch 0.3s cubic-bezier(.25, .46, .45, .94) both infinite;
  color: var(--uno-red);
}

@keyframes glitch {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 2px)
  }

  40% {
    transform: translate(-2px, -2px)
  }

  60% {
    transform: translate(2px, 2px)
  }

  80% {
    transform: translate(2px, -2px)
  }

  100% {
    transform: translate(0)
  }
}